In [1]:
pip install xlrd

Collecting xlrdNote: you may need to restart the kernel to use updated packages.

  Using cached xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1

In [18]:
import pandas as pd
df=pd.read_excel(r"C:\Users\Student\Desktop\Assignment muh.xlsx")
print(df)

    S/N                      Name  Age  Weight  HEIGHT
0     1            Adokorac Nancy   20      70  177.80
1     2   Amutuhaire Faith Ahabwe   27      47  157.48
2     3     KWAGALA JOANNA VICTOR   21      54  185.42
3     4              mahoro cathy   23      30     NaN
4     5  Mbabazi Hawa Bint Edrisa   19      59  175.26
5     6       Nakanjako josephine   24      65  175.26
6     7            Nanteza Dorcus   21      69  157.48
7     8             Mbabazi Angel   19      57  167.64
8     9            Namara Racheal   19      55  154.94
9    10       Lwamulungi Sheillah   22      78  162.56
10   11           Nakawuka Sandra   25      60  175.26
11   12   Achola Gloria Fortunate   27      80  172.72
12   13             Nagawa Esther   21      58  187.96
13   14           wanjiku hananny   19      50  165.10
14   15            babirye Sandra   21      50  175.26
15   16          nakagga shanitah   21      50  175.26
16   17    Wembabazi Vivian Ritah   20      49  160.02
17   18   Nanziri Ritah Namayanja   23      70  162.56
18   19            Nasejje Mariam   20      62  101.60
19   20  Namukose Jolline Edriana   20      55  162.56
20   21      Agatha Faith Anyango   27      55   93.98
21   22              Kirabo Sarah   23      60  165.10
22   23          Nansalire Anitah   21      45   63.50
23   24             Nalugo gladys   19      70  101.60
24   25            Namakula Allen   20      55  170.18
25   26           Tukahirwa emily   22      67  175.26
26   27            Shamirah Ahmed   21      67  137.16
27   28          Ameso lmmaculate   23      64  165.10
28   29                Ayoo Teddy   20      50  157.48
29   30                Biira Mary   30      65  104.14
30   31        Aloyo Brenda Ojera   23      52  170.18
31   32        Ayebale Immaculate   24      50  162.56

# The mean, standard deviation(std) and variance of Age of the students

In [13]:
df=pd.read_excel(r"C:\Users\Student\Desktop\Assignment muh.xlsx")
print("mean:",df["Age"].mean())

mean: 22.03125

In [14]:
print("std:",df["Age"].std())

std: 2.7648061823220904

In [15]:
print("var:",df["Age"].var())

var: 7.644153225806452

# The mean,standard deviation(std) and variance of Weight of the students

In [19]:
print("mean:",df["Weight"].mean())

mean: 58.375

In [20]:
print("std:",df["Weight"].std())

std: 10.344860029611713

In [21]:
print("var:",df["Weight"].var())

var: 107.01612903225806

# The mean,standard deviation(std) and variance(var) of Height of the students

In [23]:
print("mean:",df["HEIGHT"].mean())

mean: 155.4316129032258

In [24]:
print("std:",df["HEIGHT"].std())

std: 30.113870901050923

In [25]:
print("var:",df["HEIGHT"].var())

var: 906.8452206451615